
  <h1>Searching for Words </h1>
  <%= @words.each do |row| %>
  <%= row["state"] %>
  <%= row["count"] %>
  <% end %>

  <h1>Police-related fatalities</h1>
  <%= @fatalities.each do |row| %>
  <%= row["name"] %>
  <%= row["age"] %>
  <% end %>
