
<!DOCTYPE html>
<html>
<head>
  <title>Don't Talk About the Cops</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Slabo+13px' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <nav class="navbar navbar-inverse navbar-collapse">
        <%= link_to root_path do %>
          <h1 class="navbar-header navbar-brand">Home</h1>
        <% end %>
        <%= link_to queries_path(:civil_rights) do %>
          <h1 class="navbar-header navbar-brand">see "civil rights"</h1>
        <% end %>
        <%= link_to queries_path(:black_lives_matter) do %>
          <h1 class="navbar-header navbar-brand">see "black lives matter"</h1>
        <% end %>
        <%= link_to queries_path(:police_brutality) do %>
          <h1 class="navbar-header navbar-brand">see "police brutality"</h1>
        <% end %>
      </nav>
    </header>
    <section class="container">

    <%= yield %>
  </section>

</body>
</html>
